@media(min-width:320px) {}

@media(min-width:576px) {
    .w3-content {
        height: 320px;
    }
    .singleh1 {
        font-size: 22px;
    }
}

@media(min-width:768px) {
    .w3-content {
        height: 440px;
    }
    .form-contact input.form-control,
    .form-contact textarea {
        width: 50%;
        transition: 1s ease;
    }
    #getintouch {
        width: 75%;
        margin-left: 12.5%;
        margin-left: 12.5%;
        padding: 25px 25px 15px;
    }
    .singleh1 {
        font-size: 24px;
    }
    footer a.visitus {
        font-size: 20px;
    }
    #buyadog {
        width: 75%;
        margin-left: 12.5%;
        margin-left: 12.5%;
        margin-top: 10%;
    }
    .grid-item {
        width: 40%;
    }
}

@media(min-width:992px) {
    footer {
        height: 80px;
    }
    /* MENU*/
    header {
        width: 100%;
        height: 41px;
        z-index: 5;
        position: fixed;
        border-bottom: 1px solid black;
        left: 0;
    }
    .menu {
        font-size: 0px;
        height: 100%;
    }
    .menu li a {
        display: inline-block;
        height: 40px;
        font-size: 22px;
        transition: 0.4s linear;
    }
    .menu li:hover a {}
    .menu li {
        width: 100px;
        float: left;
        border-bottom: 0.5px solid black;
        text-align: center;
        border-right: 0.02px solid black;
    }
    .menu li:hover {
        background: black;
    }
    /* RIGHT MENU*/
    .Rmenu {
        font-size: 0px;
    }
    .Rmenu li a {
        display: inline-block;
        padding: 10px 10px;
        font-size: 16px;
        transition: 0.4s linear;
    }
    .Rmenu li:hover a {}
    .Rmenu li {
        width: 100px;
        float: right;
        border: 0.5px solid black;
        border-radius: 25px;
        text-align: center;
        margin-right: 5px;
        padding: 0;
    }
    .Rmenu li:hover {
        background: black;
    }
    .menu-trigger {
        display: none;
    }
    .closebtn {
        display: none;
    }
    main {
        padding: 40px 10px 0px;
    }
    .readmore {
        width: 50%;
    }
    .asideNews {
        border-left: 10px solid #00001e;
    }
    .asideNews h1.blognews {
        text-align: left;
        padding-left: 15px;
    }
    .w3-content {
        height: 600px;
    }
    #getintouch {
        width: 60%;
        margin-left: 20%;
        margin-left: 20%;
        padding: 25px 25px 15px;
    }
    .singleh1 {
        font-size: 28px;
    }
    footer a.visitus {
        font-size: 24px;
    }
    #buyadog {
        width: 60%;
        margin-left: 20%;
        margin-left: 20%;
        margin-top: 10%;
    }
    .grid-item {
        width: 28%;
    }
}

@media(min-width:1200px) {
    .readmore {
        width: 30%;
    }
    .singleh1 {
        font-size: 32px;
    }
}