@media(min-width:320px) {}

@media(min-width:576px) {
    .mainmenu {
        width: 70%;
    }
}

@media(min-width:768px) {
    #singlemusic .fa-headphones.fa-3x {
        transform: translateY(50%);
    }
}

@media(min-width:992px) {
    .registerdiv {
        width: 65vw;
        min-height: 30vh;
        margin-top: 15vh;
    }
}

@media(min-width:1200px) {
    .mainmenu {
        width: 60%;
    }
    .registerdiv {
        width: 45vw;
        min-height: 30vh;
        margin-top: 20vh;
    }
}