img {
    width: 100%;
}

body {
    position: relative;
}

figure {
    margin: 0!important;
}

a:hover,
a {
    text-decoration: none;
    color: black;
}

.inactive {
    overflow: hidden;
}

.active {
    left: 0px;
}

.bottom-line {
    border-bottom: 1px solid black;
}

main {
    padding: 0 2px;
}

.newsh3hover:hover {
    text-decoration: underline;
}

.newshover {
    transition: 0.7s ease;
}

.newshover:hover {
    box-shadow: 0 0 10px black;
}

.photozoom figure img {
    transition: 1.4s ease;
}

.photozoom:hover figure img {
    transform: scale(1.2);
}

.w3-content {
    height: 180px;
}

.w3-content img {
    width: auto;
}


/************* MENU ***************/

header {
    width: 100%;
    height: 100%;
    background: #f4426e;
    z-index: 5;
    position: fixed;
    left: -105%;
}

.menu {
    font-size: 0px;
    width: 100%;
}

.menu li a {
    display: block;
    height: 40px;
    font-size: 22px;
    transition: 0.4s linear;
}

.menu li:hover a {
    color: #f4426e;
}

.menu li {
    display: block;
    border-bottom: 0.5px solid black;
    background: #f4426e;
    text-align: center;
}

.menu li:hover {
    background: black;
}


/* RIGHT MENU*/

.Rmenu li a {
    display: block;
    width: 100%;
    padding: 0 10px;
    font-size: 16px;
    transition: 0.4s linear;
}

.Rmenu li:hover a {
    color: #f4426e;
}

.Rmenu li {
    width: 80%;
    margin: auto;
    border: 0.5px solid black;
    border-radius: 25px;
    background: #f4426e;
    padding: 5px;
    margin-top: 4px;
    text-align: center;
}

.Rmenu li:hover {
    background: black;
}


/********** CLOSEBTN************/

.closebtn {
    text-align: center;
    position: absolute;
    display: block;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 5px;
    bottom: 0;
    left: 0;
    border: 1px solid black;
    background: #f4426e;
    color: black;
    padding: 5px 10px;
}


/********** MAIN **********/

.menu-trigger {
    position: fixed;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
    background: #f4426e;
    z-index: 4;
}

.menu-trigger span {
    display: block;
    margin: auto;
    background: black;
    width: 25px;
    height: 4px;
    margin-top: 6px;
}

.mainfigure {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
}

.readmore {
    display: block;
    border: 1px solid black;
    padding: 10px;
    width: 50%;
    margin: auto;
    border-radius: 15px;
    background: #f4426e;
    color: black;
    transition: 0.5s ease;
    margin-bottom: 5px;
}

.readmore:hover {
    background: black;
    color: #f4426e;
}

.asideNews h1.blognews {
    text-align: center;
}


/*********** FOOTER *************/

footer {
    width: 100%;
    background: #f4426e;
    border-top: 1px solid black;
    padding: 20px;
}

footer a.visitus {
    font-size: 24px;
}

footer a.visitus:hover {
    border-bottom: 1px solid black;
}

.social a {
    padding-top: 7px;
    display: block;
    float: left;
    width: 45px;
    height: 45px;
    border: 2px solid black;
    border-radius: 50%;
    transition: 0.5s ease;
}

.social a:hover {
    transform: rotateX(360deg);
}

.ls {
    padding-bottom: 20px;
}

.rs {
    text-align: center;
}


/* FORM CONTACT*/

.form-contact input,
.form-contact input.active,
.form-contact input:focus {
    border: 2px solid #f4426e;
    background-color: black!important;
    color: #f4426e;
    background: no-repeat;
    background-position: right;
}

.form-control-success {
    color: green!important;
}

.form-contact option {
    border: 2px solid #f4426e;
    background-color: black!important;
    color: #f4426e;
}

.form-contact input.form-control,
.form-contact textarea {
    width: 100%;
    transition: 1s ease;
}

.form-contact input.form-control:hover,
.form-contact input.form-control.active,
.form-contact input.form-control:focus,
.form-contact textarea:hover,
.form-contact textarea.active,
.form-contact textarea:focus {
    width: 100%;
    border: 2px solid #f4426e;
}

.form-contact textarea {
    border: 2px solid #f4426e;
    background-color: black!important;
    color: #f4426e;
}


/* OPTIONS */

select {
    border: 2px solid #f4426e!important;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: black url(down-arrow.png) no-repeat right center;
    width: 40%!important;
    text-indent: 0.01px;
    text-overflow: "";
    color: #f4426e;
    padding: 5px;
}

select:hover,
select.active,
select:focus {
    color: #f4426e;
}

.form-contact label {
    font-size: 20px;
    color: black;
    margin-bottom: 0!important;
}


/* MASONRY */

.grid-item {
    width: 200px;
}

.grid-item--width2 {
    width: 400px;
}

#getintouch {
    position: fixed;
    width: 95%;
    margin-left: 2%;
    margin-left: 2%;
    margin-top: 10%;
    background: #3b0077;
    border: black;
    padding: 10px 5px 5px;
    border: 1px solid black;
    opacity: 0;
    transition: 1s ease;
}

#getintouchclosebtn {
    position: absolute;
    top: 5px;
    right: 10px;
}

.ginactive {
    opacity: 1!important;
    z-index: 3;
}

.admins h3 {
    font-size: 36px;
}