body {
    position: relative;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

#main {
    width: 300vw;
    height: 300vh;
    transition: 1s ease;
}

img {
    width: 100%;
}


/* MENU */

.menu h1 {
    display: inline-block
}

#main .menu {
    cursor: pointer;
    height: 30vh;
    line-height: 30vh;
}

#main .screens {
    height: 100vh;
    width: 100vw;
    position: relative;
    text-align: center;
}

.gobackbtn {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 10px 20px;
    border-radius: 50%;
    cursor: pointer;
}

#myprofile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0;
    transition: 1s ease;
}

#singlemusic,
#singlevideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0;
    transition: 1s ease;
}

.songs {
    text-align: left;
}


/* REMOVE SCROLL */

* {
    overflow: hidden;
}


/* RETURN SCROLL TO TEXTS */

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
    overflow: visible;
}


/* HOVER FOR MENU */

.hvr-shutter-in-horizontal:before {
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
}